@charset "UTF-8";
@use "@/styles/base/mixins" as *;

/* スクロールを無効化するクラス */
.no-scroll {
  overflow: hidden;
}

/* スクロールバー幅の調整を行うクラス */
.no-scroll-fix {
  padding-right: var(--scrollbar-width);
}

.l-header__wrapper {
  position: relative;

  &::before {
    position: absolute;
    inset: 0;
    content: "";
    background-color: rgb(255 255 255 / 80%);
    border: 0;

    // background-color: red;

    backdrop-filter: blur(5px);
  }
}

.p-header {
  height: 4.5rem;
  padding: 0 3rem;
  margin: 0 auto;

  @include md {
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 0;
    margin-left: calc((100% - min(92%, var(--content-width))) / 2);
  }
}

/* ナビゲーションのデフォルト表示 */
.nav-menus {
  @apply fixed inset-0 flex lg:visible lg:relative lg:bg-transparent lg:opacity-100;

  transition:
    opacity 0.8s cubic-bezier(0, 1.2, 0.58, 1),
    visibility 0.8s cubic-bezier(0, 1.2, 0.58, 1);

  @include md {
    padding-right: 4%;
    padding-left: 4%;
    background-color: var(--base-gray-color);
  }

  /* ドロワーメニュー（SP） */
  &:not(.open) {
    @apply invisible opacity-0 lg:visible lg:opacity-100;

    transition:
      opacity 0.8s 0.2s cubic-bezier(0.11, 0.75, 0.34, 0.95),
      visibility 0.8s 0.2s cubic-bezier(0.11, 0.75, 0.34, 0.95);
  }

  .nav-menu {
    .nav-link {
      position: relative;
      font-size: 0.9375rem;
      font-weight: 500;
      line-height: 1;
      transition: color 0.2s ease-in-out;

      &::before {
        position: absolute;
        right: 0;
        bottom: -0.75rem;
        left: 0;
        display: flex;
        justify-content: center;
        width: 2.25rem;
        height: 4px;
        margin: 0 auto;
        content: "";
        background: var(--main-color);
        border-radius: 2px;
        transform: scale(0, 1);
        transform-origin: center top;
        transition: transform 0.2s;
      }

      &:hover,
      &:focus-visible {
        &::before {
          transform: scale(1, 1);
          transform-origin: center top;

          @include md {
            display: none;
          }
        }
      }

      &.has-children {
        margin-right: 1.5rem;

        &::after {
          position: absolute;
          top: calc(50% + 0.1rem);
          right: -1rem;
          width: 0.75rem;
          height: 0.5rem;
          content: "";
          background-color: currentcolor;
          clip-path: polygon(
            0 1.5px,
            1.5px 0,
            50% calc(100% - 3px),
            calc(100% - 1.5px) 0,
            100% 1.5px,
            50% 100%
          );
          translate: 0 -50%;

          @include md {
            display: none;
          }
        }
      }

      .title span,
      .title-en span {
        display: inline-block;
        will-change: transform;
      }
    }

    .toggle-button {
      display: none;

      @include md {
        display: block;
      }

      .toggle-mark {
        &::before,
        &::after {
          position: absolute;
          content: "";
          background-color: var(--main-color);
          transition:
            opacity 0.15s ease-in-out,
            transform 0.3s ease-in-out;
        }

        &::before {
          top: 50%;
          left: 0;
          width: 100%;
          height: 2px;
          opacity: 1;
          transform: translateY(-50%);
        }

        &::after {
          top: 0;
          left: 50%;
          width: 2px;
          height: 100%;
          transform: translateX(-50%);
        }
      }

      &[aria-expanded="true"] {
        .toggle-mark {
          &::before {
            opacity: 0;
            transform: rotate(-90deg);
          }

          &::after {
            transform: rotate(-90deg);
          }
        }
      }
    }

    .nav-childMenu__wrapper {
      position: absolute;
      top: calc(90%);
      left: 50%;
      padding: 1.6875rem 2rem;
      color: #fff;
      white-space: nowrap;
      pointer-events: none;
      background-color: var(--main-color);
      border-radius: 1rem;
      box-shadow: 0 0 1.5rem 0 rgb(0 0 0 / 10%);
      opacity: 0;
      backdrop-filter: blur(0.25rem);
      transform: translateX(-50%);
      transition: opacity 0.2s ease-in-out;

      @include md {
        position: static;
        max-height: 0;
        padding: 0 0 0 1rem;
        overflow: hidden;
        color: var(--main-color);
        background-color: transparent;
        box-shadow: none;
        backdrop-filter: unset;
        transform: translateX(0);
        transition: max-height 0.4s ease-in-out;

        &.open {
          max-height: 185px;
          pointer-events: auto;
        }
      }

      .nav-childMenu {
        @include md {
          margin-top: 0.75rem;
        }

        .nav-childMenu__link {
          position: relative;
          font-size: 0.875rem;
          font-weight: 500;

          &::before {
            @include md {
              position: absolute;
              top: 50%;
              left: -1rem;
              width: 0.75rem;
              height: 2px;
              content: "";
              background-color: #d9d9d9;
              transform: translateY(-50%);
            }
          }
        }
      }
    }

    &:hover,
    &:focus-visible {
      .nav-childMenu__wrapper {
        pointer-events: auto;
        opacity: 1;
      }
    }
  }

  /* アニメーション (オプション) */
  .transition-opacity {
    transition: opacity 0.4s;
  }
}

/* ハンバーガーボタン */
.hamburger {
  @apply relative flex items-center justify-center p-2 focus:outline-none md:p-3 lg:hidden;

  --range: 4.5rem;

  width: var(--range);
  height: var(--range);

  @include md {
    --range: 4rem;
  }

  @include sp {
    --range: 3.5rem;
  }

  .humbergerButton__line {
    @apply relative block h-0.5 w-8 bg-black transition-all duration-300 md:w-full;

    transition: background 0.2s ease-in-out;

    &::before,
    &::after {
      content: "";
      transition: inherit;
      transition-delay: 0.2s, 0s, 0s;
      transition-property: top, transform, background-color;

      @apply absolute block h-full w-full bg-black;
    }

    &::before {
      @apply -top-2 md:-top-2.5;
    }

    &::after {
      @apply top-2 md:top-2.5;
    }
  }
}

/* ハンバーガー → × 変化 */
.hamburger.open {
  .humbergerButton__line {
    @apply bg-transparent;

    &::before {
      @apply rotate-45;
    }

    &::after {
      @apply -rotate-45;
    }

    &::before,
    &::after {
      @apply top-0;

      transition-delay: 0s, 0.2s, 0s;
    }
  }
}

.is-resize .nav-menus {
  transition: none;
}
