@charset "UTF-8";
@use "@/styles/base/mixins" as *;

.formContainer {
  grid-column: 3 / span 8;

  @include md {
    grid-column: 2 / span 10;
  }

  @include sp {
    grid-column: 1 / span 12;
  }
}

.confirmContainer {
  .inputData {
    .item {
      @apply md:py-fluid-[12,16];

      &::after {
        background-color: var(--border-color);
      }

      .dlDt {
        @apply w-full md:w-[40%];
      }
    }
  }
}
