@charset "UTF-8";
@use "@/styles/base/mixins" as *;

.formContainer {
  grid-column: 3 / span 8;

  @include md {
    grid-column: 2 / span 10;
  }

  @include sp {
    grid-column: 1 / span 12;
  }
}

.confirmContainer {
  .confirmModal {
    max-width: min(1024px, 75%);

    @include md {
      max-width: 90%;
    }

    .inputData {
      .item {
        @apply gap-y-0 py-2 md:py-fluid-[6,8];

        &::after {
          background-color: var(--border-color);
        }

        .dlDt {
          @apply w-full md:w-[35%];
        }
      }
    }
  }
}
