@charset "UTF-8";
@use "@/styles/base/reset" as *;
@use "@/styles/base/mixins" as *;
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* content */
  --content-width: 1280px;

  /* Color */
  --main-color: #232b65;
  --footer-bg-color: rgb(27 32 68);
  --aqua-blue-color: #2cb0e0;
  --base-gray-color: #f4f4f4;
  --sub-base-gray-color: #fafafa;
  --border-color: #d9d9d9;
  --gray-color: #f3f3f3;
  --productlines-color1: #ebf6ff;
  --productlines-color2: #e3f1fc;
  --accent-yellow: #ffd151;
  --notice-color: #ec5655;

  /* Font Family */
  --font-ja:
    "Noto Sans JP", "Hiragino Sans", "BIZ UDPGothic", "Meiryo", sans-serif;
  --font-en: "Inter", "Arial", system-ui, sans-serif;

  /* animation */
  --dulation: 0.6s;
  --ease-in-out: cubic-bezier(0.11, 0.7, 0.43, 0.98);
}

nextjs-portal {
  // display: none;
}

html {
  // scroll-behavior: auto; /* Lenis が管理するので自動スクロールは無効にする */
  scroll-behavior: auto !important;
}

body {
  margin-top: 4.5rem;
  font-family: var(--font-ja);
  line-height: 1.625;
  color: var(--main-color);
  letter-spacing: 0.05rem;

  @include md {
    margin-top: 4rem;
  }

  @include sp {
    margin-top: 3.5rem;
  }
}

*[lang="en"] {
  font-family: var(--font-en);
  text-transform: uppercase;
}

.l-container {
  width: min(92%, var(--content-width));
  margin: 0 auto;
}

.l-container__pl {
  margin-left: calc((100% - min(92%, var(--content-width))) / 2);
}

.l-container__pr {
  margin-right: calc((100% - min(92%, var(--content-width))) / 2);
}

.l-grid__12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.u-clip__full {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.u-promise {
  letter-spacing: -0.6em;
}

.c-dl {
  .c-dl__items {
    @apply relative flex flex-col gap-y-1.5 py-fluid-[20,20,350,768] md:flex-row md:py-fluid-[20,24];

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      content: "";
      background-color: var(--main-color);
    }

    .c-dl__dt {
      @apply w-[30%] font-bold;
    }

    .c-dl__dd {
      flex: 1;

      address {
        @apply not-italic;
      }
    }
  }
}

body.modal-open {
  position: fixed;
  width: 100%;
  overflow: hidden;
}
