@charset "UTF-8";
@use "@/styles/base/mixins" as *;

.heading {
  background-color: var(--base-gray-color);

  .headingInner {
    .title {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

      span {
        display: inline-block;
        will-change: transform;
      }
    }
  }
}
