@charset "UTF-8";
@use "@/styles/base/mixins" as *;

.subTitle {
  font-weight: 700;
  line-height: 1.07;
  color: var(--main-color);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

  span {
    display: inline-block;
    will-change: transform;
  }
}
