@charset "UTF-8";
@use "@/styles/base/mixins" as *;

.aboutUs {
  background-color: var(--base-gray-color);

  .card {
    background-color: #fff;

    .subTitle {
      grid-row: 1;
      grid-column: 1 / span 12;
      justify-self: center;
    }

    .cardBody {
      grid-row: 2;
      grid-column: 7 / span 6;

      @include sp {
        grid-column: 1 / span 12;
      }

      .lead {
        color: var(--aqua-blue-color);

        span {
          letter-spacing: -0.6em;
        }
      }

      .buttonContainer {
        @include sp {
          align-self: center;
        }
      }
    }

    .videoWrapper {
      grid-row: 2;
      grid-column: 1 / span 6;
      justify-self: center;
      width: 100%;

      @include sp {
        grid-row: 3;
        grid-column: 1 / span 12;
      }

      img {
        width: 100%;
      }
    }

    .imageContainer {
      position: absolute;
      top: -5.5rem;
      right: 12%;

      @include md {
        top: -2rem;
      }

      @include sp {
        top: -2.5rem;
      }
    }
  }
}
