@charset "UTF-8";
@use "@/styles/base/mixins" as *;

.news {
  background-color: var(--base-gray-color);
  clip-path: inset(10% round 4rem);
  will-change: clip-path;

  .heading {
    .imageWrapper {
      .iconImage {
        width: 100%;
        height: auto;
      }
    }
  }

  .newsBody {
    flex: 1;
  }
}
