@charset "UTF-8";
@use "@/styles/base/mixins" as *;

.services {
  .service {
    &:first-child {
      margin-top: 0;

      .serviceContainer {
        // padding-top: 3rem;

        @include md {
          padding-top: 2.5rem;
        }

        @include sp {
          padding-top: 1.5rem;
        }
      }
    }

    &:nth-child(2),
    &:nth-child(3) {
      // border-top: 1px solid rgb(236 236 236);
      border-top-left-radius: 4rem;
      border-top-right-radius: 4rem;

      @include md {
        background-color: #fff;

        // box-shadow: 0 0 1.5rem 0 rgb(78 65 247 / 10%);
        box-shadow: 0 0 0.15rem #00004614;
      }

      @include sp {
        border-top-left-radius: 3rem;
        border-top-right-radius: 3rem;
      }
    }

    &:nth-child(2) {
      z-index: 1;
      margin-top: calc(-3rem - 35rem);
      box-shadow: 0 0 0.15rem #00004614;
    }

    &:nth-child(3) {
      z-index: 2;
      margin-top: calc(-20rem - 35rem);
      box-shadow: 0 0 0.15rem #00004614;

      // clip-path: inset(0 0 0.25rem 0); //下辺のみboxshadow部をマスクして非表示

      .serviceContainer {
        .bgBottom {
          height: 25rem;
        }
      }
    }

    .serviceContainer {
      grid-template-rows: auto 1fr auto;

      @include md {
        grid-template-rows: repeat(5, auto);
      }

      // height: auto;

      .heading {
        z-index: 2;
        grid-row: 1;
        grid-column: 8 / span 4;
        transform: translateY(-50%);

        @include md {
          grid-row: 2;
          grid-column: 4 / span 6;
          transform: translate(-5%, 50%);
        }

        @include sp {
          transform: translate(-20%, 50%);
        }

        .title {
          letter-spacing: 0.1em;

          &::before {
            position: absolute;
            inset: 0;
            z-index: -1;
            width: var(--before-width, 0%);
            height: 100%;
            content: "";
            background: var(--main-color);
          }

          span {
            opacity: 0;
            transform: translateX(-100px);
          }
        }
      }

      .description {
        z-index: 1;
        grid-row: 2;
        grid-column: 8 / span 4;
        align-self: flex-start;
        line-height: 2;
        opacity: 0;
        transform: translateY(30px);

        @include md {
          grid-row: 4;
          grid-column: 2 / span 10;
        }
      }

      .enTitle {
        z-index: 2;
        grid-row: 1/3;
        grid-column: 1 / span 6;
        align-self: center;
        color: var(--white, #fff);
        text-shadow:
          -2px -2px 0 var(--main-color),
          2px -2px 0 var(--main-color),
          -2px 2px 0 var(--main-color),
          2px 2px 0 var(--main-color);

        @include md {
          grid-row: 1;
          grid-column: 1 / span 12;
          justify-self: center;
          padding-right: 1.25em;
          text-shadow:
            -1.3px -1.3px 0 var(--main-color),
            1.3px -1.3px 0 var(--main-color),
            -1.3px 1.3px 0 var(--main-color),
            1.3px 1.3px 0 var(--main-color);
        }
      }

      .imageContainer {
        z-index: 1;
        grid-row: 1/3;
        grid-column: 3 / span 4;
        opacity: 0;

        @include md {
          grid-row: 3;
          grid-column: 4 / span 6;
          transform: translateY(3rem);
        }

        .image {
          width: 100%;
          border-radius: 1rem;
        }
      }

      .backGround {
        position: relative;
        z-index: 0;
        grid-row: 1/3;
        grid-column: 1 / span 12;

        // width: 100vw;

        // height: 50rem;
        margin-right: calc(50% - 50vw);
        background-color: var(--base-gray-color);

        &.bg-gray {
          background-color: #fff;

          &::before {
            background-color: var(--base-gray-color);
          }
        }

        &::before {
          @apply lg:rounded-l-3xl;

          position: absolute;
          inset: 0 0 0 6%;
          width: 100%;
          height: 100%;
          content: "";
          background-color: #fff;
        }

        @include md {
          grid-row: 3;
          grid-column: 1 / span 12;
          align-self: flex-end;
          height: 55%;
          margin-left: calc(50% - 50vw);
          background-color: var(--base-gray-color) !important;
        }
      }

      .bgBottom {
        grid-row: 3;
        grid-column: 1 / span 12;

        // height: 50rem;

        @include md {
          grid-row: 5;
          grid-column: 1 / span 12;

          // width: 100vw;
          margin: 0 calc(50% - 50vw);
          background-color: var(--base-gray-color) !important;
        }
      }

      .iconImage {
        width: 100%;
      }
    }

    .imageWrapper {
      &._01__01 {
        // transform: translateX(-50%);
      }

      &._01__02 {
        transform: translateX(-80%);
      }

      &._01__03 {
        transform: translateX(80%);
      }

      &._01__04 {
        // transform: translateY(50%);
      }

      &._02__01 {
        transform: translateY(-50%);
      }

      &._02__02 {
        // transform: translateY(50%);
      }

      &._03__01 {
        // transform: translateY(-50%);
      }

      &._03__02 {
        @include md {
          transform: translateX(-50%);
        }
      }
    }
  }
}

.bg-gray {
  background-color: var(--base-gray-color);
}

.bg-white {
  background-color: #fff;
}
