@charset "UTF-8";
@use "@/styles/base/mixins" as *;

.historiesContainer {
  .histories {
    grid-template-columns: 1fr, auto;

    .year {
      grid-column: 1;
      color: var(--aqua-blue-color);
      opacity: 0;

      .lineWrapper {
        --width: 3.5rem;

        @include sp {
          --width: 3rem;
        }

        position: absolute;
        top: 0;
        right: 0;
        width: var(--width);
        height: 100%;
        content: "";

        .line {
          &::before {
            --range: 0.875rem;

            position: absolute;
            top: 0.425rem;
            left: 50%;
            z-index: 1;
            width: var(--range);
            height: var(--range);
            content: "";
            background-color: var(--main-color);
            border-radius: 50%;
            transform: translateX(-50%);
          }

          &::after {
            position: absolute;
            top: 0.5rem;
            left: 50%;
            width: 1px;
            height: var(--after-line-height, 0);
            content: "";
            background-color: var(--main-color);
            transform: translateX(-50%);
          }

          &.-last {
            &::after {
              display: none;
            }
          }
        }
      }
    }

    .detail {
      grid-column: 2;
      opacity: 0;
    }
  }
}
